---
import GithubSVG from "@svg/GithubSVG.astro";
import LinkedinSVG from "@svg/LinkedinSVG.astro";
import EmailSVG from "@svg/EmailSVG.astro";
import ResumeSVG from "@svg/ResumeSVG.astro";
import systemthemeSVG from "@svg/SystemTheme.svg";

interface Props {
  fixed: boolean;
}
const { fixed } = Astro.props;
---

<script>
  import darkthemeSVG from "../svg/DarkTheme.svg";
  import lightthemeSVG from "../svg/LightTheme.svg";
  import systemthemeSVG from "../svg/SystemTheme.svg";

  const themeToggle = document.querySelector("#theme-toggle");

  // Configure light/dark mode

  // TODO: look into astro cookies to set theme? might be the way to cleanly prevent icon flickering between pages if server can serve the right icon based on cookie instead of current client-side change

  document.addEventListener("DOMContentLoaded", () => {
    function setThemeInSessionStorage(targetTheme: string) {
      sessionStorage.setItem("theme", targetTheme);
    }

    function applySystemTheme() {
      const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)").matches;
      document.documentElement.setAttribute("data-theme", prefersDarkScheme ? "dark" : "light");
      setThemeInSessionStorage("system");
    }

    // Initialize button state based on current theme
    const currentTheme = sessionStorage.getItem("theme");
    if (currentTheme === "dark") {
      themeToggle.innerHTML = `<img src="${darkthemeSVG.src}" alt="Dark Theme" title="Dark Theme" />`;
    } else if (currentTheme === "light") {
      themeToggle.innerHTML = `<img src="${lightthemeSVG.src}" alt="Light Theme" title="Light Theme" />`;
    } else {
      themeToggle.innerHTML = `<img src="${systemthemeSVG.src}" alt="System Theme" title="System Theme" />`;
    }

    themeToggle.addEventListener("click", () => {
      let currentTheme = sessionStorage.getItem("theme");
      if (currentTheme === "system") {
        setThemeInSessionStorage("dark");
        document.documentElement.setAttribute("data-theme", "dark");
        themeToggle.innerHTML = `<img src="${darkthemeSVG.src}" alt="Dark Theme" title="Dark Theme" />`;
      } else if (currentTheme === "dark") {
        setThemeInSessionStorage("light");
        document.documentElement.setAttribute("data-theme", "light");
        themeToggle.innerHTML = `<img src="${lightthemeSVG.src}" alt="Light Theme" title="Light Theme" />`;
      } else {
        setThemeInSessionStorage("system");
        applySystemTheme();
        themeToggle.innerHTML = `<img src="${systemthemeSVG.src}" alt="System Theme" title="System Theme" />`;
      }
    });
  });
</script>

<header class:list={["", { fixed: fixed }]}>
  <h1 class="title-name">
    <a href="/"
      ><span style="color: var(--primary)">Conor</span><span style="color: var(--text);"
        >Kelley</span
      ></a
    >
  </h1>

  <div class="social-links">
    <ul>
      <li>
        <button id="theme-toggle" aria-label="Light/Dark Theme Toggle"></button>
      </li>
      <li>
        <a href="https://github.com/contreau" target="_blank" aria-label="Github Profile"
          ><GithubSVG /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/conor-kelley2/"
          target="_blank"
          aria-label="Linkedin Profile"><LinkedinSVG /></a
        >
      </li>
      <li class="cv">
        <a href="/cv.pdf" target="_blank" aria-label="Curriculum Vitae / Resume"><ResumeSVG /></a>
      </li>
      <li>
        <a href="mailto:cfk102@gmail.com" target="_blank" aria-label="Email"><EmailSVG /></a>
      </li>
    </ul>
  </div>
</header>

<!-- <nav>
        <ul>
          <li class:list={["", { active: indexIsActive }]}>
            <a href="/" data-astro-prefetch>About</a>
          </li>
          <li class:list={["", { active: portfolioIsActive }]}>
            <a href="/portfolio" data-astro-prefetch>Portfolio</a>
          </li>
          <li class:list={["", { active: musingsIsActive }]}>
            <a href="/musings" data-astro-prefetch>Musings</a>
          </li>
        </ul>
      </nav> -->

<style>
  /* .header-wrapper {
    position: absolute;
    top: 0;
  } */

  header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    /* position: fixed;
    max-width: 1200px;
    width: 100%;
    top: 0rem;
    z-index: 5;
    background-color: var(--bg-color); */
  }

  header.fixed {
    position: fixed;
    top: 0 rem;
    z-index: 5;
    background-color: var(--bg-color);
    max-width: 1200px;
    width: 100%;
  }

  h1 {
    font-size: clamp(2.5rem, 9vw, 3rem);
    /* font-size: 3.5rem; */
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;

    a {
      text-decoration: none;
    }
  }

  div.social-links ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 0;
    margin-block: 0;
    height: 100%;
    line-height: 1;

    li {
      list-style-type: none;
      padding: 0em 0.6em;
      border-radius: 5px;
      padding-inline: 0;
      a {
        text-decoration: none;
        color: var(--social-links-color);
        transition: color 200ms;
      }

      a:hover {
        color: var(--primary-link);
      }
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  /* @ rules */
  @media (max-width: 1100px) {
    header {
      position: relative;
      margin-inline: auto;
      text-align: center;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
    }
  }
</style>
