---
import Image from "astro/components/Image.astro";
const { name, url, description, jobtype, tools } = Astro.props;
---

<li>
  <div class="container">
    <h3>
      <a href={url} target="_blank">{name}</a>
    </h3>
    <p class="description">
      {description}
    </p>
    <div class="tags">
      <div class="job-type">
        <Image
          alt="briefcase"
          src="/briefcase.svg"
          width="26.5"
          height="26.5"
        />
        <p>{jobtype}</p>
      </div>
      <div class="tools">
        <Image alt="gear" src="/gear.svg" width="26.5" height="26.5" />
        <p>{tools}</p>
      </div>
    </div>
  </div>
</li>

<style lang="scss" scoped>
  li {
    // background-color: #ffffff;
    padding: 1em;
    list-style-type: none;
    border-radius: 10px;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    // max-width: fit-content;
  }

  p.description {
    font-style: italic;
    font-size: 1.05rem;
    color: #5a5959;
  }

  div.tags {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  div.job-type,
  div.tools {
    max-width: fit-content;
    padding: 0.1em 0.4em;
    border-radius: 5px;
    background-color: #ececec;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    p {
      color: #535353;
      margin: 0;
      font-weight: 550;
      font-size: 0.95rem;
    }
  }

  h3 {
    color: #3a3a3a;
    margin-top: 0;
    a {
      text-decoration: underline;
    }
  }

  @media (max-width: 550px) {
    h3 {
      text-align: center;
    }
    div.tags {
      flex-wrap: wrap;
    }
    div.tools p,
    div.job-type p {
      font-size: clamp(0.75rem, 5vw, 0.95rem);
    }
  }
</style>
